<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePaginas
            p Coloca tu nuevo Password
                                    
            form.caja-login(method="POST")
                .campo
                    label(for="password") Email:
                    input(type="password" name="password" placeholder="Nuevo password")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")